{
	"extends": [
		"airbnb",
		"prettier"
	],
	"plugins": [
		"@typescript-eslint",
		"react-hooks",
		"prettier"
	],
	"env": {
		"browser": true,
		"es6": true,
		"jest": true
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json",
		"tsconfigRootDir": ".",
		"sourceType": "module"
	},
	"rules": {
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".tsx"
				]
			}
		],
		"import/extensions": [
			0,
			{
				"extensions": [
					"never"
				]
			}
		],
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"react/prefer-stateless-function": [
			1,
			{
				"ignorePureComponents": true
			}
		],
		"import/prefer-default-export": "off",
		"no-use-before-define": "off",
		"@typescript-eslint/no-use-before-define": [
			"error"
		],
		"no-unused-vars": [
			"warn",
			{
				"vars": "all",
				"args": "after-used",
				"ignoreRestSiblings": false
			}
		],
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		],
		"jsx-a11y/label-has-associated-control": [
			2,
			{
				"labelComponents": [
					"CustomInputLabel"
				],
				"labelAttributes": [
					"label"
				],
				"controlComponents": [
					"CustomInput"
				],
				"depth": 3,
			}
		],
	},
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [
					".js",
					".jsx",
					".ts",
					".tsx"
				]
			}
		},
		"react": {
			"version": "detect"
		}
	}
}